31
31
  <div class="panel panel-default">  <div class="panel-heading">  <i class="fa fa-chain-broken fa-fw"></i> Make Everything OK Area  <div class="pull-right">  <div class="btn-group">  <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" type="button">  Actions  <span class="caret"></span>  </button>  <ul class="dropdown-menu pull-right" role="menu">  <li><a href="#">Action</a>  </li>  <li><a href="#">Another action</a>  </li>  <li><a href="#">Something else here</a>  </li>  <li class="divider"></li>  <li><a href="#">Separated link</a>  </li>  </ul>  </div>  </div>  </div>  <!-- /.panel-heading -->  <div class="panel-body">  <a class="btn btn-success" href="#ok" id="make-everything-ok-button" onclick="javascript:window.okDone(); return false;" rel="next" title="Make-Button">  Make everything OK  </a>  </div>  <!-- /.panel-body -->  </div>
